<?xml version="1.0" encoding="UTF-8"?>
<!--
    Author:     Jesús Jorge Valdez
    Date:       April 12, 2018
    Contact:    jesusjorge@gmail.com
    Comments:   
                This code forces all HTTP Verb Methods (GET, POST, PUT, DELETE) to be accepted.
                It also redirects any non-file/non-directory request to index.php/etc.
                Works with IIS Hosting, Plesk, Lavarel
    Requirements:
                URL Redirect 2.0 must be installed and enabled
                Web.Config file should be placed at /
                Must know the full path of php-cgi script processor.
 -->
<configuration>
    <system.webServer>
    	<modules>
		    <remove name="WebDAVModule" />
		</modules>
		<handlers>
		    <remove name="WebDAV" />
		    <remove name="PHP56_via_FastCGI" />
		    <add name="PHP56_via_FastCGI"
		        path="*.php" 
		        verb="*" 
		        modules="FastCgiModule"
		        scriptProcessor="C:\Program Files (x86)\Parallels\Plesk\Additional\PleskPHP56\php-cgi.exe" 
		        resourceType="Either"
		    />
		</handlers>
        <rewrite>
            <rules>
                <rule name="Check Change">
                    <match url="^20180412$" />
                    <action type="Rewrite" url="welcome.html" />
                </rule>
                <rule name="Redirect Trailing Slashes If Not A Folder" stopProcessing="true">
                    <match url="(.*)/$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" pattern="(.*?)\.svc$" negate="true" />
                    </conditions>
                    <action type="Redirect" url="{R:1}" />
                </rule>
                <rule name="Handle Front Controller">
                    <match url="(.*)" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" pattern="(.*?)\.svc$" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="index.php/{R:1}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>